:root {
    --background: rgb(25, 40, 54);
    --text: white;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(25, 40, 54);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: var(--background);
}

.page-title {
    position: absolute;
    margin-left: 50%;
    font-size: 1.8rem;
}

.header-element {
    padding: 15px 5%;
    color: var(--text);
    border: none;
    text-decoration: none;
    color: white;
}

.header-element:hover {
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
    transform: scale(1.1);
    cursor: pointer;
}

/*--------------------------------------------------Home--------------------------------------------------*/
.home {
    margin-top: 60px;
    width: 100%;
    
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: black;
    width: 100%;
    background-image: url('./assets/images/bg3.webp');
    background-size: cover;
}

.mid-content {
    margin-top: 15%;
    margin-bottom: 15%;
}/* change this when adjusting @media */

.mid-box {
    display: flex;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
    margin-left: 20%;
    width: 20%;
    border: solid rgb(126, 180, 216);
    border-radius: 25px;
    background-color: white; 
}

.welcome-box h2, 
.welcome-box p {
    margin: 0;
}

.welcome-box h2 {
    margin-bottom: 5px;
}

.mid-button {
    font-size: 1.3rem;
    cursor: pointer;
}

.mid-button:hover {
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
    transform: scale(1.1);
}

.mid-box a {
    text-decoration: none;
    color: black;
}

.coming-soon {
    position: relative;
}

.coming-soon::after {
    content: "Coming Soon-ish";
    position: absolute;
    top: 0;
    right: 0;
    background-color: red; 
    color: white; 
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 10;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 13px;
    width: 60%;
    text-align: center;
}


.link {
    padding: 13px;
}

.contact-links a img {
    transition: all 0.3s ease; /* Smooth transition for the effect */
  }
  
  .contact-links a:hover img {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)); /* White glow */
    transform: scale(1.1); /* Optional: Slightly enlarge the icon on hover */
  }

.UA-link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.UA-link:hover {
    cursor: pointer;
}

.contact-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*--------------------------------------------------Quiz*--------------------------------------------------*/
.quiz {
    min-width: 60vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 20%;
    height: 20%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.card-element {
    padding: 5px;
    margin: 5px;
    border: none;
}

.card {
    padding: 5px;
    margin-top: 30px;
}

.card-image {
    width: 200px;  /* Set a fixed width for the image */
    height: 300px; /* Set a fixed height for the image */
    object-fit: cover; /* This ensures the image will maintain its aspect ratio while filling the container */
    border-radius: 10px; /* Optional: Add rounded corners for a nicer look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for some depth */
    margin-bottom: 10px; /* Optional: Space between the image and other card elements */
}

.start-game-btn, .next-question-btn, .submit-btn {
    background-color: var(--background);
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--text);
  
}

.correct {
    color: green;
    font-weight: bold;
}
.incorrect {
    color: red;
    font-weight: bold;
}

.correct-answer-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Makes all children align with the tallest one */
    gap: 10px; /* Optional spacing between items */
    min-height: 15%;
}

.correct-answer {
    flex: 1; /* Allow each item to grow */
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Center content horizontally */
    padding: 10px;
    background-color: rgb(19, 19, 19);
    border: 1px solid #3f3f3f;
    border-radius: 5px;
}

.quiz-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

/*--------------------------------------------------About--------------------------------------------------*/

.about-page {
    margin-top: 90px;
    width: 80%;
    line-height: 1.6; /* Improved text spacing */
}

.about-h2 {
    font-size: 2rem;
    color: #2d87ef; /* Add a primary theme color */
    text-align: center; /* Center the headings */
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for pop */
}

.about-p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #dddddd;
}

.about-p a {
    color: #2d87ef; /* Themed link color */
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.about-p a:hover {
    color: #ff5722; /* Highlighted link color on hover */
    cursor: pointer;
}

.about-section {
    background-color: #353535; /* Light background for sections */
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px; /* Rounded corners for sections */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.aniguesser {
    color: #2d87ef;
}

.about-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px; /* Rounded corners for images */
}

.about-recommendation {
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    color: #8389c0;
}


/*--------------------------------------------------News--------------------------------------------------*/


/*--------------------------------------------------Admin--------------------------------------------------*/

.admin {
    margin-top: 60px;
    display: flex;
    width: 100vw;
    padding: 0px;
    min-height: 70vh;
}

.admin-nav {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin-left: 0px;
    padding: 0px;
    width: 20%vw;
    height: fill;
    background-color: rgb(180, 180, 180);
    

}

.admin-nav button {
    font-size: 1.6rem;  
    margin-bottom: 5px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(180, 180, 180);
    border-bottom: black solid 2px;
    width: 100%;
}

.admin-nav button:hover {
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: black 7px solid;

}

.admin-control {
    width: 100%;
}

/*--------------------------------------------------AdminAnime--------------------------------------------------*/

.admin-anime {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
}

.anime-search {
    padding: 15px;
    margin-left: 20px;
    height: 100%;
}

.anime-search p {
    font-size: 1.5rem;
    padding: 0px;
}

.anime-search input{
    font-size: 1.3rem;
    padding: 10px;
}

.anime-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background-color: rgb(180, 180, 180);
    color: black;
}

.anime-item {
    margin-top: 10px;
}

.anime-result {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
}

.anime-result h3 {
    font-size: 1.2rem;
}

.anime-result p {
    font-size: 1.1rem;
}

.admin-anime-form {
    display: none;
    background-color: rgb(180, 180, 180);
    width: 80%;
    height: 80%;
}

/*--------------------------------------------------Submission--------------------------------------------------*/

.submission {
    margin-top: 60px;
}

/*------------------------------------------------- Modal.css -------------------------------------------------*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: var(--background);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    max-height: 80vh; /* Set a max height for the modal */
    overflow-y: auto;  /* Enable vertical scrolling */
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }

  .login-modal {
    display: flex;
    flex-direction: column;
  }

  .modal-input {
    font-size: 1.4rem;
    border-radius: 9px;
    padding: 5px;
    margin: 5px;
    width: calc(100% - 20px); /* Adjust width to accommodate padding and the toggle icon */
    box-sizing: border-box; /* Ensure padding and border are included in width */

  }

  .modal-button {
    font-size: 1.4rem;
    border-radius: 9px;
    padding: 5px;
    margin: 10px;
  }

  .modal-button:hover {
    cursor: pointer;
  }

  .modal-span {
    color: rgb(131, 131, 240);
    text-decoration: underline;

  }

  .modal-span:hover {
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
    cursor: pointer;
  }

  .important-message {
    color: rgb(182, 170, 2);
    text-decoration: underline;
    font-size: 1.1rem;
  }

  .success-message {
    color: green;
    font-weight: bold;
    font-size: 1.1rem;

  }
  
  .error-message {
    color: red;
    font-weight: bold;
    font-size: 1.1rem;

  }

  .input-container {
    position: relative;
    margin: 5px; /* Same margin as other inputs for consistent spacing */
    width: 100%; /* Ensure it spans the full width */
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem; /* Adjust size as needed */
    color: gray; /* Optional: Match style with input */
}

  .input-container input {
    padding-right: 35px; /* Add space to prevent the text from overlapping the icon */
}
  
  

  
  
